<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <publishMethod>Docker</publishMethod>
    <profileName>hellodocker</profileName>
    <DockerAppType>Web</DockerAppType>
    <DockerServerUrl>tcp://hellodocker.eastus.cloudapp.azure.com:2376</DockerServerUrl>
    <DockerImageName>hellodockar</DockerImageName>
    <DockerPublishHostPort>8082</DockerPublishHostPort>
    <DockerPublishContainerPort>8082</DockerPublishContainerPort>
    <DockerBuildOnly>False</DockerBuildOnly>
    <DockerRemoveConflictingContainers>True</DockerRemoveConflictingContainers>
    <DockerAuthOptions>--tlsverify</DockerAuthOptions>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <DockerfileRelativePath>..\..\Dockerfile</DockerfileRelativePath>
    <PublishProvider>Docker</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <CompileSource>False</CompileSource>
    <_DefaultDNXVersion>dnx-clr-win-x86.1.0.0-rc1-final</_DefaultDNXVersion>
    <UsePowerShell>True</UsePowerShell>
    <IISCommand>web</IISCommand>
    <WebRoot>wwwroot</WebRoot>
    <WwwRootOut>wwwroot</WwwRootOut>
    <IncludeSymbols>False</IncludeSymbols>
    <Native>False</Native>
    <PublishPreviewUrl>tcp://hellodocker.eastus.cloudapp.azure.com:2376</PublishPreviewUrl>
    <CreateWindowsContainer>True</CreateWindowsContainer>
    <PublishDNXVersion>dnx-coreclr-win-x64.1.0.0-rc1-final</PublishDNXVersion>
  </PropertyGroup>
</Project>